.form {
  max-width: 220px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin: 16px 0;
  box-sizing: border-box;

  padding: 16px;
  border: 1px solid white;
  border-radius: 8px;
}

.error {
  color: red;
}
